<h1><%=@picture.title%></h1>
<br><br>
<%=image_tag @picture.file.url(:large)%>

<% if @picture.comments.any? %>
	<h2>Comentarios:</h2>
	<%@picture.comments.each do |c| %>
		<h3><%=c.user%></h3>
		<p><%=c.content%></p>
		<%=link_to "Eliminar", user_picture_comment_path(user_id: @user.id, picture_id: @picture.id, comment_id: c.id), method: :delete%>
	<% end %>
<%else%>
	<p>Nadie comento aún esta foto, se el primero en opinar:</p>
<% end %>

<h3><%=@user.name%>:</h3>
<%=form_for :comment, url: user_picture_comments_path(user_id: @user.id, picture_id: @picture.id) do |f|%>
	<%=f.text_area :content, required: :true, id: :commentField %><br>
	<%=f.submit "Comentar"%>
<%end%>

<br>

<%=link_to "Volver al inicio", controller: :instagram, action: :index%>