<h2>Bienvenido <%=@user.name%>! </h2>

<%=form_for :picture, url: user_pictures_path(user_id: @user.id), :html => { :multipart => true } do |f|%>
	<%=f.label :file%>
	<%=f.file_field :file%><br>
	<%=f.label :title%>
	<%=f.text_field :title%><br>
	<%=f.submit "Guardar"%>
<% end %>

<%=@user.pictures.each do |pic|%>
	<%=image_tag pic.file.url%>
<%end%>

<%=link_to "Cerrar Session", controller: "instagram", action: "closeSession" %>