<h2>Bienvenido <%=@user.name%>! </h2>

<% if @picture && @picture.errors.any? %>
	<h2><%= pluralize(@picture.errors.count, "error") %> prohibited
      this picture from being saved:</h2>
    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<%end%>

<%=form_for :picture, url: user_pictures_path(user_id: @user.id), :html => { :multipart => true } do |f|%>
	<%=f.label :file%>
	<%=f.file_field :file%><br>
	<%=f.label :title%>
	<%=f.text_field :title%><br>
	<%=f.submit "Guardar"%>
<% end %>

<%@user.pictures.each do |pic|%>
	<h2><%=pic.title%></h2>
	<%=link_to "Eliminar", user_picture_path(@user, pic), method: :delete, data: {confirm: "Esta seguro?"}%><br>
	<%=image_tag pic.file.url(:medium)%><br>
<%end%>

<%=link_to "Cerrar Session", controller: "instagram", action: "closeSession" %>